// flex复用
@mixin flex($hov:space-between,$col:center) {
  display: flex;
  justify-content: $hov;
  align-items: $col
}

//背景图片
@mixin bgImg($w:16px,$h:12px,$url:'',$bgSize:contain) {
    display: inline-block;
    width: $w;
    height: $h;
    background: url($url) no-repeat center;
    background-size: $bgSize;
} 